<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>

        {{ loginData | json }}
        <form>
          <fieldset class="form-group" [ngClass]="{'has-danger': email.dirty && email.errors}">
            <input name="email" class="form-control form-control-lg" type="text" placeholder="Email" [(ngModel)]="loginData.email"
              #email="ngModel"
              required
              email>
            {{ email.invalid }}
            <span *ngIf="email.dirty && email.errors">
              <span *ngIf="email.errors['required']">請輸入 Email</span>
              <span *ngIf="email.errors['email']">Email 格式不正確</span>
            </span>
          </fieldset>
          <fieldset class="form-group" [ngClass]="{'has-danger': password.dirty && password.errors}">
            <input name="password" class="form-control form-control-lg" type="password" placeholder="Password" [(ngModel)]="loginData.password"
              #password="ngModel"
              minlength="4"
              required>
            {{ password.invalid }}
            <span *ngIf="password.dirty && password.errors">
              <span *ngIf="password.errors['required']">請輸入密碼</span>
              <span *ngIf="password.errors['minlength']">密碼長度不足</span>
            </span>
          </fieldset>
          <button type="button" class="btn btn-lg btn-primary pull-xs-right" (click)="doLogin()">
            Sign in
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
